## Salary Filter for God_Given_Gift.csv

#### Getting the libraries

In [42]:
import pandas as pd

#### Creating and cleaning DF Object

In [43]:
df = pd.read_csv('Chalo.csv')
df = df.drop("Unnamed: 0", axis=1)
df.loc[df.Salary == 'NEGOTIABLE', 'Salary'] = 0

#### Creating new columns for Min/Max Salary

In [44]:
Min_Salary = []
Max_Salary = []

#### Loop for finding, cleaning, converting and appending salary

In [45]:
for sal in df['Salary']:
    
    sal=str(sal)
        
    if sal =='0':
        Max_Salary.append(0)
        Min_Salary.append(0)

    elif 'month' in sal:
        if '-' in sal:
            start_index=sal.find('-')
            end_index=sal.find('a')
            
            str_final=sal[start_index+3:end_index-1]
            str_final=str_final.replace(',','')
            str_int_final=int(float(str_final))
            
            Max_Salary.append(str_int_final)
            Min_Salary.append(int(float(sal[2:start_index-1].replace(',',''))))

        else:
            end_index=sal.find('a')                  
            str_final=sal[2:end_index-1]
            str_final=str_final.replace(',','')
            str_int_final=int(float(str_final))
            Max_Salary.append(str_int_final)
            Min_Salary.append(str_int_final)


    elif 'year' in sal:
        if '-' in sal:
            start_index=sal.find('-')
            end_index=sal.find('a')
            str_final=sal[start_index+3:end_index-1]
            str_final=str_final.replace(',','')
            str_int_final=int(float(str_final)/12)
            Max_Salary.append(str_int_final)
            Min_Salary.append(int(float(sal[2:start_index-1].replace(',',''))/12))


        else:
            end_index=sal.find('a')
            str_final=sal[2:end_index-1]
            str_final=str_final.replace(',','')
            str_int_final=int(float(str_final)/12)
            Max_Salary.append(str_int_final)
            Min_Salary.append(str_int_final)
            
    else:
        print('Can\'t sort, LOL!')

In [46]:
Min_Salary

[18000, 50000, 10000, 0, 35000, 25000, 28000, 25000, 0]

In [47]:
Max_Salary

[25000, 100000, 30000, 0, 45000, 66666, 40000, 25000, 0]

#### Adding the columns to the DF

In [48]:
df['Min_Salary'] = Min_Salary
df['Max_Salary'] = Max_Salary

## Sorting based on asc./desc. Salary

In [49]:
df.sort_values('Max_Salary', ascending=True, inplace=True)

## Applying a ABOVE_THIS/BELOW_THIS filter

In [52]:
min_salary = int(input('Enter a minimum salary base : '))
max_salary = int(input('Enter a maximum salary cap : '))

Enter a minimum salary base : 25000
Enter a maximum salary cap : 100000

In [54]:
Suitable_jobs = df[(df['Min_Salary'] > min_salary) & (df['Max_Salary'] < max_salary)]