## Salary Filter for God_Given_Gift.csv

#### Getting the libraries

In [3]:
import pandas as pd

#### Creating and cleaning DF Object

In [4]:
df = pd.read_csv('Chalo.csv')
df = df.drop("Unnamed: 0", axis=1)
df.loc[df.Salary == 'NEGOTIABLE', 'Salary'] = 0

#### Creating new columns for Min/Max Salary

In [5]:
Min_Salary = []
Max_Salary = []

#### Loop for finding, cleaning, converting and appending salary

In [6]:
for i in df['Salary']:
    
    
    if i == 0:
        Min_Salary.append(0)
        Max_Salary.append(0)
        continue
    
    
    if '-' not in i:
        Min_Salary.append(0)
        Max_Salary.append(0)
        continue
        

    res = [j for j in i if j.isdigit()] 
    
    
    index = 0
    init = str('')
    count = 0
    for j in res:
        if count >= 3:
            if j != '0':
                index = res.index(j)
                
                break
            else:
                init = init + j
        else:
            init = init + j 
        count += 1
    
    new_res = str('')
    for j in res[index:]:
        new_res = new_res + j
    
    Min_Salary.append(int(init))
    Max_Salary.append(int(new_res))

5
5
5
5
6
6

#### Adding the columns to the DF

In [7]:
df['Min_Salary'] = Min_Salary
df['Max_Salary'] = Max_Salary

### Sorting based on Salary

In [8]:
df.sort_values('Max_Salary', ascending=False, inplace=True)

In [9]:
df

,Company_Name,Job_Summary,Job_Title,Location,Salary,Min_Salary,Max_Salary
5,\nKarmic Events India,Business Development Manager\nKarmic Events In...,Business Development Manager,"New Delhi, Delhi","\n₹3,00,000 - ₹8,00,000 a year",300000,800000
6,\nTravClan Technology,Business Development Executive\nTravClan Techn...,Business Development Executive,"Jhandewalan, Delhi, Delhi","\n₹3,36,000 - ₹4,80,000 a year",336000,480000
1,\nWhitehat Education Technology Pvt. Ltd.,Education Sales Enabler\nWhitehat Education Te...,Education Sales Enabler,"Delhi, Delhi","\n₹50,000 - ₹1,00,000 a month",50000,100000
4,\nAtlanta Systems Pvt Ltd,Export Sales Manager\nAtlanta Systems Pvt Ltd\...,Export Sales Manager,"Delhi, Delhi","\n₹35,000 - ₹45,000 a month",35000,45000
2,\nMORNIS INTERNATIONAL LLP,Sales Manager / Sale Exe. Corporate Sales (Tou...,Sales Manager / Sale Exe. Corporate Sales (Tou...,"New Delhi, Delhi","\n₹10,000 - ₹30,000 a month",10000,30000
0,\nBlueJack,"Direct Sales Associate\nBlueJack\nSaket, Delhi...",Direct Sales Associate,"Saket, Delhi, Delhi","\n₹18,000 - ₹25,000 a month",18000,25000
3,\nTulsi Nuts and Dry Fruits - KBB Nuts P Ltd,Sales Manager - Ecommerce Operations\nTulsi Nu...,Sales Manager - Ecommerce Operations,"Delhi, Delhi",0,0,0
7,\nKitchen Solutions/Hello Deli!,Restaurant Sales Promotion / Operation Manager...,Restaurant Sales Promotion / Operation Manager,"New Delhi, Delhi","\n₹25,000 a month",0,0
8,\nFitline,"Sales Executive\nFitline\nDelhi, Delhi\nJob Su...",Sales Executive,"Delhi, Delhi",0,0,0